/* social media connections */

.social-media-links{
    margin-left: 5%;
    position: fixed;
    bottom: 0;
}

.social-media-links li{
    background: rgba(255,255,255,.7);
    box-shadow: 5px 5px 25px 0px rgba(46,61,73,0.8);
    display: inline-block;
    border: 2px solid rgba(0,0,0,0.5);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding-left: 3px;
    padding-top: 9px;
}

.fa-facebook-f{
  padding: 2px;
}

.fa-envelope{
  margin-left: -2px;
  padding: 1px;
}


.social-media-links li a {
    list-style-type: none;
    text-decoration: none;
    color: #333;
    font-size: 24px;
    margin: 10px;
    transition: .4s ease-in-out;
}

.social-media-links li a:hover {
    transition: .4s ease-in-out;
}

.social-media-links li:hover {
    transition: .4s ease-in-out;
    border: 2px solid rgba(0,0,0,0.8);
    cursor: pointer;
    background: rgba(255,255,255,0.5);
    transition: .4s ease-in-out;
}

#sWrapper{
  margin: 0 auto;
}

#s1{
  display: inline-block;
  height: 250px;
  width: 300px;
  background: rgba(255,255,255,.9);
  margin-top: 35px;
  margin-left: 8%;
  box-shadow: 5px 5px 25px 0px rgba(46,61,73,0.8);
  padding: 10px;
}
#s1:hover{
  background: rgba(255,255,255,1);
  transition: .4s ease-in-out;
}
#s2{
  display: inline-block;
  height: 250px;
  width: 300px;
  background: rgba(255,255,255,.9);
  box-shadow: 5px 5px 25px 0px rgba(46,61,73,0.8);
  margin-left: 8%;
  margin-top: 35px;
  padding: 10px;
}
#s2:hover{
  background: rgba(255,255,255,1);
  transition: .4s ease-in-out;
}
#s3{
  display: inline-block;
  height: 250px;
  width: 300px;
  margin-left: 8%;
  margin-top: 35px;
  background: rgba(255,255,255,.9);
  box-shadow: 5px 5px 25px 0px rgba(46,61,73,0.8);
  padding: 10px;
}
#s3:hover{
  background: rgba(255,255,255,1);
  transition: .4s ease-in-out;
}

.frontend-picture{
  width: 150px;
  height: 129px;
  margin-left: 65px;
  margin-right: 65px;
  margin-top: 21px;
}

.backend-picture{
  width: 142px;
  height: 129px;
  margin-left: 65px;
  margin-top: 21px;
}

.responsive-picture{
  width: 300px;
  height: 150px;
}

h2#s-heading{
  margin-top: 10%;
  color: white;
}
h3{
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
  text-transform: uppercase;
  margin-top: 25px;
}

body{
  background-size: cover;
  background-image: url(../images/silver.jpg);
}

html, body {
  width: 100%;
  margin: 0px;
  height: 100%;
}

#name {
  color: black;
  font-family: 'Julius Sans One', sans-serif;
  font-weight: bold;
  margin-top: 5px;
  font-size: 45px;
  text-align: center;
  border: 3px solid black;
  width: 67px;
  height: 65px;
  margin-left: 3%;
  border-radius: 50%;
  padding: 5px;
  padding-right: 0px;
  padding-left: 6px;
}

#name-media{
  display: none;
}

#contact-me {
  color: black;
  font-family: 'Roboto', sans-serif;
  width: 315px;
  margin: 7% auto 7% auto;
  border-top: 1px solid rgba(0, 0, 0, .3);
  padding-top: 1%;
}
#contact-me a{
  text-decoration: none;
  color: black;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 30px;
}

#contact-me a:hover{
  color: rgba(0, 0, 0, 1);
  transition: .3s ease-in-out;
  letter-spacing: .2px;
}

.getInTouch{
  color: white;
  margin-top: 35px;
  margin-left: 10%;
  margin-right: 10%;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

form{
  margin-top: 35px;
  margin-left: 10%;
  margin-right: 10%;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 18px;
  font-weight: bold;
}
#formName{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 38px;
  font-weight: lighter;
}

#email{
  margin-bottom: 10px;
  width: 100%;
  margin-top: 10px;
  height: 38px;
}

#message{
  width: 100%;
  margin-top: 10px;
  height: 180px;
}
#contactSubmit{
  background-color: black;
  color: white;
  height: 42px;
  width: 120px;
  margin-top: 30px;
}

.form-error{
  display:none;
}

.navT {
  -webkit-transition: all 0.25s;
  z-index: 111;
  cursor: pointer;
  width: 100%;
  background: rgba(255, 255, 255, .4);
  height: 80px;
  left: 0;
  top: 0;
  position: fixed;
}
.navT .icon {
  -webkit-transition: all 0.25s;
  position: absolute;
  width: 30px;
  height: 1px;
  right: 15px;
  top: 30px;
  background-color: black;
}
.navT .icon:before, .navT .icon:after {
  -webkit-transition: all 0.25s;
  width: 30px;
  height: 1px;
  left: 0;
  background: black;
  position: absolute;
  content: '';
}
.navT .icon:before {
  top: -10px;
}
.navT .icon:after {
  top: 10px;
}
.navT:hover .icon:before {
  top: -12px;
}
.navT:hover .icon:after {
  top: 12px;
}
.navT.active .icon {
  -webkit-transform: rotate(180deg);
  background-color: transparent;
  right: 15px;
}
.navT.active .icon:before, .navT.active .icon:after {
  top: 0;
}
.navT.active .icon:before {
  -webkit-transform: rotate(45deg);
}
.navT.active .icon:after {
  -webkit-transform: rotate(-45deg);
}

#menu {
  z-index: 111;
  -webkit-transition: all 0.5s;
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 70px;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  width: 100%;
  height: 0;
  border-bottom: 1px solid transparent;
  overflow: hidden;
}
#menu ul {
  list-style: none;
  padding: 0;
  letter-spacing: 0.4em;
}
#menu li:first-child {
  margin-top: 20;
}
#menu li {
  -webkit-transition: all 0.2s;
  margin-top: 20px;
  padding: 3px 0;
  color: white;
}
#menu a {
  color: black;
  padding: 8px;
  -webkit-transition: all 0.25s;
  cursor: pointer;
}
#menu a:hover {
  letter-spacing: 0.5em;
  text-decoration: underline;
}
#menu.open {
  height: 190px;
  width: 100%;
  background: rgba(255, 255, 255, .4);
}

.space {
  letter-spacing: 0;
}

.content {
  width: 100%;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 100;
  -webkit-transition: top 0.5s;
  position: absolute;
  top: 65px;
  margin: 0 auto;
}
.content h1 {
  color: white;
  font-family: 'Julius Sans One', sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 3em;
  letter-spacing: 0.1em;
  margin-top: 5%;
  margin-left: 10px;
}
.content h2 {
  color: white;
  font-size: 1em;
  text-transform: uppercase;
  margin-top: 25px;
  margin-left: 10px;
  font-weight: 400;
  letter-spacing: 0.7em;
  text-align: center;
}

.content.shift {
  top: 40%;
}

.profile-picture{
  margin-left: 5%;
  width: 234px;
  height: 223px;
  float: left;
  margin-right: 20px;
  margin-top: 25px;
}

p {
  color: white;
  margin-top: 50px;
  font-size: 0.75em;
  line-height: 1.75em;
  text-align: left;
}

#paragraph-wrapper{
  font-family: 'Julius Sans One', sans-serif;
  font-size: 30px;
  margin-top: 35px;
  width: 100%;
  height: 272px;
  float: left;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 5px 5px 25px 0px rgba(46,61,73,0.8);
}

#paragraph{
  padding-top: 15px;
  display: block;
  margin-right: 5%;
}

#bar {
  width: 40%;
  height: 200px;
  margin: 0 auto;
  border: 1px dashed white;
}

/* iPad media query */

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {

#name {
  display: none;
}

#name-media{
  display: initial;
  text-align: center;
  color: white;
  font-family: 'Julius Sans One', sans-serif;
  margin-top: 10px;
  font-size: 45px;
  left: 0;
  margin-left: 47.5%;
}

#paragraph-wrapper{
  margin-top: 35px;
  width: 100%;
  height: 300px;
  float: left;
  background: rgba(0, 0, 0, 0.6);
}

/* iPhone media query */

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  #name {
    display: none;
  }

  #name-media{
    display: initial;
    text-align: center;
    color: white;
    font-family: 'Julius Sans One', sans-serif;
    margin-top: 10px;
    font-size: 45px;
    left: 0;
    margin-left: 47.5%;
  }
